<div class="container">
  <div class="form-control">
    <div class="mb-3 w-50 mx-auto text-center">
      <label for="formGroup" class="form-label">Username</label>
      <input type="text" class="form-control" [(ngModel)] ="username" id="username" placeholder="email@example.com">
    </div>
    <div class="mb-3 w-50 mx-auto text-center">
      <label for="formGroup" class="form-label" >Password</label>
      <input type="password" class="form-control" [(ngModel)] ="password" id="password" placeholder="12345">
    </div>
    <div>
    <button class="btn btn-primary mx-auto" (click)="onLogin()">Ingresar</button>
    </div>

    <div class="text-center mt-3">
      <p><a class="link-opacity-75 text-center" href="#" (click)="open(content)">Create user</a></p>
    </div>

    <!-- Modal to show the form by clicking -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New user form</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <!-- Form to create a new user -->
      <form [formGroup]="form" class="row g-3" (ngSubmit)="saveUser()">
        <div class="col-md-6" class="form-group">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" formControlName="username" id="username" />
        </div>
        <div class="col-md-6" class="form-group">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password" id="password" />
        </div>
        <div class="col-md-6" class="form-group">
          <label for="email" class="form-label">email</label>
          <input type="email" class="form-control" formControlName="email" id="email" />
        </div>
        <div class="col-md-6" class="form-group">
          <label for="role" class="form-label">Select rol</label>
          <select class="form-control" formControlName="role" id="role" class="form-select" aria-label="roles">
            <option value="admin">Admin</option>
            <option value="user" selected>User</option>
          </select>
        </div>

      </form>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="modal.close(); saveUser()">Register</button>
    </div>
  </ng-template>
  <!-- End of modal to show the form by clicking -->

    <!-- Section to sign in with thirt party accounts. -->
    <div>
      <p class="text-center">Another ways to sign up</p>
      <div class="text-center">
        <a href="" style="text-decoration: none; color: black; font-size: 2rem; margin-right: 1rem;"><i class="bi bi-google"></i></a>
        <a href="" style="text-decoration: none; color: black; font-size: 2rem; margin-right: 1rem;"><i class="bi bi-facebook"></i></a>
        <a href="" style="text-decoration: none; color: black; font-size: 2rem;"><i class="bi bi-instagram"></i></a>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>

</div>
